<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect"> org.hibernate.dialect.MySQL5Dialect</property>

    <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/olso11</property>
    <property name="hibernate.connection.username">olso</property>
    <property name="hibernate.connection.password">olso</property>

    <!-- <property name="hbm2ddl.auto">create</property> -->
    <property name="hbm2ddl.auto">validate</property>

    <property name="show_sql">true</property>

    <mapping class="model.RobotConfig" />
  </session-factory>
</hibernate-configuration>
